@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: lato, sans-serif;
    color: #414141;
}


@media (max-width: 575px) {

    .table-scroll::-webkit-scrollbar {
        /* Customize the scrollbar width */
        background-color: #EFEFEF;
        border-radius: 7px;
        height: 14px;
        width:0px;
    }

    .table-scroll::-webkit-scrollbar-track {
        /* Customize the scrollbar track */
    }

    .table-scroll::-webkit-scrollbar-thumb {
        /* Customize the scrollbar thumb */
        background-color: #414141;
        border-radius: 7px;
    }

}


button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.font-lato {
    font-family: lato, sans-serif;
}

.font-montserrat {
    font-family: montserrat, sans-serif;
}

h1 {
    font-family: montserrat, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
}

h2 {
    font-family: montserrat, sans-serif;
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
}
h3 {
    font-family: montserrat, sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 23px;
}
h4 {
    font-family: montserrat, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
}
h5 {
    font-family: montserrat, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
}
p {
    font-family: lato, sans-serif;
    font-size: 15px;
}

.text-figure {
    font-family: montserrat, sans-serif;
    font-size: 45px;
    font-weight: 600;
    line-height: 55px;
}

.text-nav {
    font-family: montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}
.text-tab {
    font-family: montserrat, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
}
.text-button {
    font-family: montserrat, sans-serif;
    font-size: 11px;
    font-weight: 500;
    line-height: 14px;
}

.text-tab {
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-size: 8px;
    lineheight: 10px;
}

@media (min-width: 576px) {
    .text-tab {
        font-size: 11px;
        lineheight: 14px;
    }
}



